.body-container-first-row {
    margin-top: 1%;
}
.footer{
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    color: #9d9d9d;
}
.footer-nav>li>a{
    color: #9d9d9d;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.footer-nav>li>a:hover{
    transition-duration: 0.4s;
    box-shadow: 0 0 10px rgba(0,1,1,1);
    color: red;
}